body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
}

main {
  flex: 1 0 auto;
}

.divider {
  margin: 3rem;
}

/* Home Page */

/*Hero Element */
#hero {
  background: #111;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

canvas {
  background: url("https://scontent-lax3-1.xx.fbcdn.net/v/t31.0-8/12307600_10208387633194143_8849957229684255700_o.jpg?oh=fcdb58936a47226fa7ebe2f50d8b6aa9&oe=5ABAAB56");
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  position: relative;
  width: 100vw;
}

#hello {
  max-width: 960px;
  color: white;
  position: absolute;
  top: 50%;
  min-height: 200px;
  margin: auto;
  margin-top: -120px;
  left: 0;
  right: 0;
  border: 1px solid #fff;
  text-align: center;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

#hello > h1 {
  font-size: 4em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

#hello > h4 {
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 7px;
}

.navbar-hidden {
  display: none;
}

.navbar-shown {
  position: fixed;
}

#content {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  width: 100vw;
}

.stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 311px 1206px #fff, 1783px 1912px #fff, 621px 1284px #fff, 1185px 287px #fff, 989px 1446px #fff,
    1602px 1959px #fff, 1857px 51px #fff, 1146px 20px #fff, 1807px 1414px #fff, 40px 372px #fff, 1685px 148px #fff,
    316px 1864px #fff, 1936px 1537px #fff, 410px 454px #fff, 1722px 1426px #fff, 1809px 1832px #fff, 613px 1236px #fff,
    1853px 1556px #fff, 1148px 1411px #fff, 1746px 1181px #fff, 1528px 1217px #fff, 1501px 318px #fff, 1390px 558px #fff,
    1633px 1597px #fff, 215px 1949px #fff, 1086px 1839px #fff, 1975px 738px #fff, 1690px 1287px #fff, 1909px 1955px #fff,
    1119px 1533px #fff, 1544px 126px #fff, 1057px 1990px #fff, 1296px 530px #fff, 881px 1825px #fff, 873px 156px #fff,
    694px 639px #fff, 1910px 800px #fff, 968px 1912px #fff, 1252px 404px #fff, 1048px 1873px #fff, 993px 1441px #fff,
    324px 1564px #fff, 410px 1252px #fff, 679px 1227px #fff, 1458px 1817px #fff, 985px 1031px #fff, 1568px 1148px #fff,
    1859px 673px #fff, 1683px 1897px #fff, 269px 1133px #fff, 386px 777px #fff, 1834px 1860px #fff, 837px 913px #fff,
    343px 565px #fff, 53px 1523px #fff, 578px 116px #fff, 471px 28px #fff, 537px 1631px #fff, 1916px 153px #fff,
    660px 1316px #fff, 1439px 1843px #fff, 1755px 1898px #fff, 1401px 24px #fff, 511px 1203px #fff, 407px 1165px #fff,
    1083px 501px #fff, 54px 1531px #fff, 879px 523px #fff, 1567px 854px #fff, 772px 268px #fff, 644px 1966px #fff,
    1755px 284px #fff, 659px 736px #fff, 277px 1216px #fff, 523px 600px #fff, 193px 107px #fff, 1746px 1652px #fff,
    1016px 1437px #fff, 497px 334px #fff, 72px 28px #fff, 807px 1178px #fff, 1329px 1116px #fff, 598px 1423px #fff,
    586px 546px #fff, 762px 1280px #fff, 738px 134px #fff, 373px 1105px #fff, 346px 163px #fff, 1618px 433px #fff,
    1790px 1285px #fff, 200px 1416px #fff, 109px 1571px #fff, 1369px 1160px #fff, 119px 1679px #fff, 774px 1170px #fff,
    745px 939px #fff, 148px 1819px #fff, 1004px 459px #fff, 967px 51px #fff, 923px 1112px #fff, 134px 1406px #fff,
    1301px 428px #fff, 600px 805px #fff, 887px 788px #fff, 1488px 380px #fff, 387px 803px #fff, 735px 581px #fff,
    1580px 98px #fff, 1381px 1330px #fff, 1413px 1408px #fff, 1267px 616px #fff, 1965px 1089px #fff, 288px 222px #fff,
    1178px 356px #fff, 1129px 35px #fff, 1766px 1350px #fff, 1004px 1564px #fff, 1106px 484px #fff, 895px 290px #fff,
    115px 571px #fff, 1580px 11px #fff, 1471px 1647px #fff, 137px 1933px #fff, 1309px 390px #fff, 1756px 451px #fff,
    1053px 1649px #fff, 416px 621px #fff, 1355px 476px #fff, 1523px 729px #fff, 907px 237px #fff, 672px 1134px #fff,
    244px 597px #fff, 211px 705px #fff, 878px 1830px #fff, 919px 659px #fff, 1735px 276px #fff, 908px 1614px #fff,
    616px 454px #fff, 1610px 289px #fff, 1515px 1951px #fff, 1951px 1456px #fff, 1053px 87px #fff, 1111px 495px #fff,
    862px 920px #fff, 1562px 1392px #fff, 325px 526px #fff, 1658px 1931px #fff, 1904px 1504px #fff, 765px 1744px #fff,
    577px 1663px #fff, 1421px 189px #fff, 203px 1599px #fff, 1372px 53px #fff, 584px 1833px #fff, 1507px 963px #fff,
    655px 1338px #fff, 1698px 506px #fff, 797px 878px #fff, 1671px 260px #fff, 440px 445px #fff, 748px 493px #fff,
    1513px 186px #fff, 1535px 1596px #fff, 553px 246px #fff, 1330px 335px #fff, 1041px 1352px #fff, 1119px 1945px #fff,
    212px 15px #fff, 1184px 102px #fff, 514px 1765px #fff, 163px 1286px #fff, 1785px 445px #fff, 1926px 389px #fff,
    1846px 1858px #fff, 1133px 855px #fff, 1738px 1360px #fff, 866px 1326px #fff, 592px 757px #fff, 1794px 191px #fff,
    340px 714px #fff, 433px 540px #fff, 750px 1766px #fff, 1949px 1723px #fff, 1826px 1194px #fff, 394px 895px #fff,
    1148px 493px #fff, 161px 1577px #fff, 1388px 1548px #fff, 1066px 209px #fff, 544px 1689px #fff, 518px 1180px #fff,
    1775px 1134px #fff, 1034px 254px #fff, 1944px 1107px #fff, 457px 1402px #fff, 1737px 1130px #fff, 1725px 1188px #fff,
    648px 985px #fff, 902px 516px #fff, 28px 126px #fff, 329px 646px #fff, 954px 615px #fff, 36px 1112px #fff,
    181px 135px #fff, 1450px 1264px #fff, 1656px 1644px #fff, 513px 1734px #fff, 199px 669px #fff, 639px 528px #fff,
    387px 970px #fff, 136px 555px #fff, 731px 951px #fff, 1813px 1069px #fff, 563px 1025px #fff, 1326px 279px #fff,
    827px 1063px #fff, 1681px 1148px #fff, 1488px 1812px #fff, 1060px 328px #fff, 1622px 1254px #fff, 1665px 1773px #fff,
    404px 1559px #fff, 1086px 1753px #fff, 453px 849px #fff, 580px 997px #fff, 1385px 66px #fff, 198px 1364px #fff,
    1679px 500px #fff, 985px 607px #fff, 1377px 1372px #fff, 1643px 1519px #fff, 612px 1358px #fff, 665px 575px #fff,
    1650px 349px #fff, 856px 1298px #fff, 1432px 1651px #fff, 869px 198px #fff, 716px 1064px #fff, 958px 73px #fff,
    965px 738px #fff, 250px 953px #fff, 1781px 37px #fff, 1863px 1998px #fff, 710px 1498px #fff, 578px 866px #fff,
    1672px 221px #fff, 1208px 1336px #fff, 1143px 504px #fff, 1866px 1519px #fff, 1559px 1695px #fff, 1064px 1644px #fff,
    988px 1151px #fff, 1838px 407px #fff, 859px 1061px #fff, 870px 714px #fff, 552px 60px #fff, 852px 1189px #fff,
    151px 1621px #fff, 33px 226px #fff, 855px 986px #fff, 1962px 1679px #fff, 1901px 658px #fff, 1448px 228px #fff,
    638px 778px #fff, 402px 92px #fff, 1225px 715px #fff, 1757px 1860px #fff, 429px 1830px #fff, 1927px 1156px #fff,
    300px 779px #fff, 1544px 363px #fff, 1529px 999px #fff, 1441px 1564px #fff, 1795px 262px #fff, 1292px 266px #fff,
    290px 1012px #fff, 413px 491px #fff, 680px 698px #fff, 1287px 1783px #fff, 182px 1662px #fff, 467px 874px #fff,
    1416px 218px #fff, 1587px 1039px #fff, 775px 619px #fff, 1519px 485px #fff, 1897px 588px #fff, 1167px 1416px #fff,
    18px 1359px #fff, 1720px 1996px #fff, 608px 612px #fff, 639px 965px #fff, 188px 939px #fff, 409px 1663px #fff,
    1448px 375px #fff, 746px 1685px #fff, 1116px 672px #fff, 365px 889px #fff, 922px 804px #fff, 453px 699px #fff,
    802px 419px #fff, 461px 275px #fff, 197px 1897px #fff, 1660px 668px #fff, 43px 1542px #fff, 331px 1414px #fff,
    715px 1094px #fff, 592px 1967px #fff, 206px 1634px #fff, 1753px 1098px #fff, 860px 479px #fff, 360px 1898px #fff,
    1275px 853px #fff, 990px 1834px #fff, 997px 1966px #fff, 591px 1832px #fff, 986px 71px #fff, 743px 1087px #fff,
    479px 1930px #fff, 93px 1235px #fff, 2000px 1250px #fff, 824px 190px #fff, 1798px 945px #fff, 352px 850px #fff,
    558px 1511px #fff, 1341px 1001px #fff, 1466px 419px #fff, 224px 1161px #fff, 1328px 1097px #fff, 1334px 369px #fff,
    667px 760px #fff, 1827px 1864px #fff, 1435px 614px #fff, 468px 1476px #fff, 965px 1813px #fff, 830px 143px #fff,
    612px 330px #fff, 1647px 814px #fff, 1772px 659px #fff, 1297px 1650px #fff, 737px 1626px #fff, 243px 147px #fff,
    40px 205px #fff, 1785px 1202px #fff, 682px 1313px #fff, 1142px 854px #fff, 1100px 343px #fff, 657px 155px #fff,
    786px 1982px #fff, 67px 580px #fff, 1272px 1604px #fff, 84px 839px #fff, 913px 915px #fff, 1841px 1805px #fff,
    1370px 598px #fff, 515px 1662px #fff, 253px 1739px #fff, 1573px 1907px #fff, 131px 616px #fff, 1957px 1269px #fff,
    110px 1390px #fff, 1275px 169px #fff, 1849px 459px #fff, 624px 148px #fff, 795px 1428px #fff, 1763px 1206px #fff,
    1760px 206px #fff, 1478px 854px #fff, 24px 1291px #fff, 104px 855px #fff, 502px 1348px #fff, 1250px 17px #fff,
    310px 412px #fff, 240px 545px #fff, 727px 215px #fff, 1350px 1128px #fff, 97px 773px #fff, 723px 1119px #fff,
    827px 492px #fff, 1090px 776px #fff, 56px 723px #fff, 317px 85px #fff, 398px 368px #fff, 1664px 661px #fff,
    1570px 1685px #fff, 1182px 1680px #fff, 623px 1261px #fff, 1520px 1339px #fff, 782px 934px #fff, 1714px 1038px #fff,
    1945px 666px #fff, 1708px 412px #fff, 1579px 420px #fff, 1926px 586px #fff, 953px 1988px #fff, 24px 1811px #fff,
    1152px 631px #fff, 756px 936px #fff, 369px 331px #fff, 549px 569px #fff, 534px 966px #fff, 190px 233px #fff,
    971px 1402px #fff, 1509px 552px #fff, 105px 28px #fff, 109px 502px #fff, 221px 181px #fff, 461px 464px #fff,
    1823px 1970px #fff, 1439px 1354px #fff, 1702px 1415px #fff, 1599px 1228px #fff, 794px 1693px #fff, 628px 817px #fff,
    626px 1866px #fff, 324px 1953px #fff, 386px 1984px #fff, 229px 561px #fff, 1456px 292px #fff, 1623px 1441px #fff,
    1266px 1815px #fff, 437px 885px #fff, 966px 1727px #fff, 419px 1260px #fff, 238px 323px #fff, 31px 313px #fff,
    444px 1627px #fff, 717px 1554px #fff, 1362px 1667px #fff, 1678px 609px #fff, 1826px 830px #fff, 309px 1531px #fff,
    600px 600px #fff, 1604px 1571px #fff, 481px 1703px #fff, 304px 1854px #fff, 1173px 1691px #fff, 1136px 1015px #fff,
    903px 1806px #fff, 1298px 351px #fff, 342px 1020px #fff, 321px 112px #fff, 363px 1264px #fff, 519px 643px #fff,
    1830px 750px #fff, 1739px 1910px #fff, 1160px 1262px #fff, 225px 642px #fff, 921px 1685px #fff, 1424px 207px #fff,
    477px 1722px #fff, 598px 1649px #fff, 1963px 934px #fff, 1409px 1540px #fff, 304px 314px #fff, 1515px 421px #fff,
    1209px 1011px #fff, 1252px 154px #fff, 996px 128px #fff, 1135px 821px #fff, 1967px 800px #fff, 707px 1216px #fff,
    1451px 1964px #fff, 620px 338px #fff, 711px 1340px #fff, 1254px 1949px #fff, 128px 1804px #fff, 1089px 1647px #fff,
    1709px 1725px #fff, 1487px 1255px #fff, 1479px 1491px #fff, 177px 862px #fff, 1398px 128px #fff, 1752px 1503px #fff,
    647px 1494px #fff, 1245px 58px #fff, 511px 84px #fff, 1028px 1317px #fff, 1150px 632px #fff, 749px 852px #fff,
    524px 986px #fff, 578px 1219px #fff, 1837px 1312px #fff, 726px 1398px #fff, 707px 1073px #fff, 697px 868px #fff,
    1835px 614px #fff, 848px 1123px #fff, 248px 713px #fff, 731px 866px #fff, 1354px 1501px #fff, 200px 1138px #fff,
    1045px 280px #fff, 111px 1948px #fff, 1957px 1496px #fff, 590px 947px #fff, 1410px 576px #fff, 1634px 1762px #fff,
    1358px 1133px #fff, 1808px 711px #fff, 618px 1059px #fff, 1202px 197px #fff, 1151px 741px #fff, 1926px 7px #fff,
    883px 1626px #fff, 1752px 350px #fff, 1072px 485px #fff, 666px 179px #fff, 626px 958px #fff, 991px 803px #fff,
    1137px 1596px #fff, 1001px 1290px #fff, 1801px 1308px #fff, 1320px 1503px #fff, 166px 958px #fff, 360px 618px #fff,
    740px 966px #fff, 767px 814px #fff, 749px 526px #fff, 1609px 1185px #fff, 350px 957px #fff, 725px 1684px #fff,
    398px 754px #fff, 390px 178px #fff, 150px 1035px #fff, 1325px 1139px #fff, 1270px 1074px #fff, 1104px 342px #fff,
    505px 1566px #fff, 1708px 912px #fff, 408px 965px #fff, 294px 1271px #fff, 493px 1235px #fff, 566px 825px #fff,
    647px 1100px #fff, 706px 529px #fff, 357px 1890px #fff, 1952px 1491px #fff, 1077px 654px #fff, 384px 1947px #fff,
    1923px 168px #fff, 845px 1648px #fff, 1803px 66px #fff, 307px 1541px #fff, 666px 39px #fff, 1589px 983px #fff,
    312px 1102px #fff, 1105px 579px #fff, 370px 1539px #fff, 1368px 241px #fff, 1759px 1832px #fff, 1073px 360px #fff,
    1344px 472px #fff, 1100px 1696px #fff, 1366px 1480px #fff, 1284px 446px #fff, 57px 1204px #fff, 710px 1788px #fff,
    1222px 1777px #fff, 571px 598px #fff, 584px 1545px #fff, 459px 1685px #fff, 1204px 587px #fff, 51px 1875px #fff,
    285px 1778px #fff, 655px 1678px #fff, 1267px 1175px #fff, 1195px 1389px #fff, 1463px 71px #fff, 1359px 175px #fff,
    1086px 169px #fff, 1335px 1357px #fff, 623px 1012px #fff, 1906px 1547px #fff, 141px 593px #fff, 218px 930px #fff,
    1390px 605px #fff, 772px 1312px #fff, 1345px 1450px #fff, 608px 1324px #fff, 1912px 1719px #fff, 466px 1698px #fff,
    1374px 1912px #fff, 457px 1988px #fff, 220px 438px #fff, 1559px 1073px #fff, 430px 1111px #fff, 365px 1596px #fff,
    922px 954px #fff, 1454px 1649px #fff, 1715px 292px #fff, 1323px 683px #fff, 914px 325px #fff, 920px 574px #fff,
    460px 1981px #fff, 985px 881px #fff, 1912px 105px #fff, 1568px 1002px #fff, 1834px 446px #fff, 313px 527px #fff,
    1670px 1506px #fff, 1105px 282px #fff, 937px 1933px #fff, 1792px 1872px #fff, 344px 529px #fff, 1304px 283px #fff,
    1391px 835px #fff, 768px 80px #fff, 732px 673px #fff, 1960px 1918px #fff, 401px 1922px #fff, 1155px 1123px #fff,
    956px 1022px #fff, 634px 1841px #fff, 180px 1716px #fff, 25px 1475px #fff, 533px 1772px #fff, 1762px 692px #fff,
    1206px 1359px #fff, 926px 1606px #fff, 644px 1382px #fff, 551px 1035px #fff, 1411px 1087px #fff, 706px 1062px #fff,
    1045px 838px #fff, 506px 1106px #fff, 192px 293px #fff, 1168px 804px #fff, 1001px 1404px #fff, 1128px 1611px #fff,
    128px 1475px #fff, 33px 13px #fff, 1331px 354px #fff, 1279px 1207px #fff, 1978px 479px #fff, 920px 711px #fff,
    1926px 1841px #fff, 926px 1101px #fff, 1990px 765px #fff, 1028px 1513px #fff, 445px 1644px #fff, 116px 1297px #fff,
    1819px 959px #fff, 1139px 1485px #fff, 1383px 1424px #fff, 26px 1955px #fff, 1914px 358px #fff, 1164px 513px #fff,
    1105px 109px #fff, 1143px 1463px #fff, 1228px 367px #fff, 555px 1910px #fff, 144px 1747px #fff, 1399px 577px #fff,
    383px 161px #fff, 440px 1652px #fff, 388px 806px #fff, 261px 557px #fff, 1555px 1250px #fff, 966px 332px #fff,
    1275px 827px #fff, 688px 682px #fff, 491px 1027px #fff, 1998px 51px #fff, 37px 1081px #fff, 1205px 1598px #fff,
    192px 443px #fff, 750px 426px #fff, 1496px 747px #fff, 1539px 1786px #fff, 1151px 1659px #fff, 1640px 1701px #fff,
    1132px 942px #fff, 173px 893px #fff, 1816px 1485px #fff, 1061px 1711px #fff, 1742px 963px #fff, 485px 1746px #fff,
    744px 916px #fff, 1096px 275px #fff, 1130px 705px #fff, 961px 118px #fff, 1672px 1340px #fff, 893px 282px #fff,
    1476px 1802px #fff, 638px 1938px #fff, 1814px 344px #fff, 288px 1726px #fff, 1535px 225px #fff, 1316px 511px #fff,
    581px 578px #fff, 821px 35px #fff, 1540px 19px #fff, 825px 447px #fff, 1123px 546px #fff, 409px 706px #fff,
    99px 660px #fff, 1715px 1953px #fff, 946px 1695px #fff, 1160px 1604px #fff, 181px 1786px #fff;
  animation: animStar 50s linear infinite;
}
.stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 311px 1206px #fff, 1783px 1912px #fff, 621px 1284px #fff, 1185px 287px #fff, 989px 1446px #fff,
    1602px 1959px #fff, 1857px 51px #fff, 1146px 20px #fff, 1807px 1414px #fff, 40px 372px #fff, 1685px 148px #fff,
    316px 1864px #fff, 1936px 1537px #fff, 410px 454px #fff, 1722px 1426px #fff, 1809px 1832px #fff, 613px 1236px #fff,
    1853px 1556px #fff, 1148px 1411px #fff, 1746px 1181px #fff, 1528px 1217px #fff, 1501px 318px #fff, 1390px 558px #fff,
    1633px 1597px #fff, 215px 1949px #fff, 1086px 1839px #fff, 1975px 738px #fff, 1690px 1287px #fff, 1909px 1955px #fff,
    1119px 1533px #fff, 1544px 126px #fff, 1057px 1990px #fff, 1296px 530px #fff, 881px 1825px #fff, 873px 156px #fff,
    694px 639px #fff, 1910px 800px #fff, 968px 1912px #fff, 1252px 404px #fff, 1048px 1873px #fff, 993px 1441px #fff,
    324px 1564px #fff, 410px 1252px #fff, 679px 1227px #fff, 1458px 1817px #fff, 985px 1031px #fff, 1568px 1148px #fff,
    1859px 673px #fff, 1683px 1897px #fff, 269px 1133px #fff, 386px 777px #fff, 1834px 1860px #fff, 837px 913px #fff,
    343px 565px #fff, 53px 1523px #fff, 578px 116px #fff, 471px 28px #fff, 537px 1631px #fff, 1916px 153px #fff,
    660px 1316px #fff, 1439px 1843px #fff, 1755px 1898px #fff, 1401px 24px #fff, 511px 1203px #fff, 407px 1165px #fff,
    1083px 501px #fff, 54px 1531px #fff, 879px 523px #fff, 1567px 854px #fff, 772px 268px #fff, 644px 1966px #fff,
    1755px 284px #fff, 659px 736px #fff, 277px 1216px #fff, 523px 600px #fff, 193px 107px #fff, 1746px 1652px #fff,
    1016px 1437px #fff, 497px 334px #fff, 72px 28px #fff, 807px 1178px #fff, 1329px 1116px #fff, 598px 1423px #fff,
    586px 546px #fff, 762px 1280px #fff, 738px 134px #fff, 373px 1105px #fff, 346px 163px #fff, 1618px 433px #fff,
    1790px 1285px #fff, 200px 1416px #fff, 109px 1571px #fff, 1369px 1160px #fff, 119px 1679px #fff, 774px 1170px #fff,
    745px 939px #fff, 148px 1819px #fff, 1004px 459px #fff, 967px 51px #fff, 923px 1112px #fff, 134px 1406px #fff,
    1301px 428px #fff, 600px 805px #fff, 887px 788px #fff, 1488px 380px #fff, 387px 803px #fff, 735px 581px #fff,
    1580px 98px #fff, 1381px 1330px #fff, 1413px 1408px #fff, 1267px 616px #fff, 1965px 1089px #fff, 288px 222px #fff,
    1178px 356px #fff, 1129px 35px #fff, 1766px 1350px #fff, 1004px 1564px #fff, 1106px 484px #fff, 895px 290px #fff,
    115px 571px #fff, 1580px 11px #fff, 1471px 1647px #fff, 137px 1933px #fff, 1309px 390px #fff, 1756px 451px #fff,
    1053px 1649px #fff, 416px 621px #fff, 1355px 476px #fff, 1523px 729px #fff, 907px 237px #fff, 672px 1134px #fff,
    244px 597px #fff, 211px 705px #fff, 878px 1830px #fff, 919px 659px #fff, 1735px 276px #fff, 908px 1614px #fff,
    616px 454px #fff, 1610px 289px #fff, 1515px 1951px #fff, 1951px 1456px #fff, 1053px 87px #fff, 1111px 495px #fff,
    862px 920px #fff, 1562px 1392px #fff, 325px 526px #fff, 1658px 1931px #fff, 1904px 1504px #fff, 765px 1744px #fff,
    577px 1663px #fff, 1421px 189px #fff, 203px 1599px #fff, 1372px 53px #fff, 584px 1833px #fff, 1507px 963px #fff,
    655px 1338px #fff, 1698px 506px #fff, 797px 878px #fff, 1671px 260px #fff, 440px 445px #fff, 748px 493px #fff,
    1513px 186px #fff, 1535px 1596px #fff, 553px 246px #fff, 1330px 335px #fff, 1041px 1352px #fff, 1119px 1945px #fff,
    212px 15px #fff, 1184px 102px #fff, 514px 1765px #fff, 163px 1286px #fff, 1785px 445px #fff, 1926px 389px #fff,
    1846px 1858px #fff, 1133px 855px #fff, 1738px 1360px #fff, 866px 1326px #fff, 592px 757px #fff, 1794px 191px #fff,
    340px 714px #fff, 433px 540px #fff, 750px 1766px #fff, 1949px 1723px #fff, 1826px 1194px #fff, 394px 895px #fff,
    1148px 493px #fff, 161px 1577px #fff, 1388px 1548px #fff, 1066px 209px #fff, 544px 1689px #fff, 518px 1180px #fff,
    1775px 1134px #fff, 1034px 254px #fff, 1944px 1107px #fff, 457px 1402px #fff, 1737px 1130px #fff, 1725px 1188px #fff,
    648px 985px #fff, 902px 516px #fff, 28px 126px #fff, 329px 646px #fff, 954px 615px #fff, 36px 1112px #fff,
    181px 135px #fff, 1450px 1264px #fff, 1656px 1644px #fff, 513px 1734px #fff, 199px 669px #fff, 639px 528px #fff,
    387px 970px #fff, 136px 555px #fff, 731px 951px #fff, 1813px 1069px #fff, 563px 1025px #fff, 1326px 279px #fff,
    827px 1063px #fff, 1681px 1148px #fff, 1488px 1812px #fff, 1060px 328px #fff, 1622px 1254px #fff, 1665px 1773px #fff,
    404px 1559px #fff, 1086px 1753px #fff, 453px 849px #fff, 580px 997px #fff, 1385px 66px #fff, 198px 1364px #fff,
    1679px 500px #fff, 985px 607px #fff, 1377px 1372px #fff, 1643px 1519px #fff, 612px 1358px #fff, 665px 575px #fff,
    1650px 349px #fff, 856px 1298px #fff, 1432px 1651px #fff, 869px 198px #fff, 716px 1064px #fff, 958px 73px #fff,
    965px 738px #fff, 250px 953px #fff, 1781px 37px #fff, 1863px 1998px #fff, 710px 1498px #fff, 578px 866px #fff,
    1672px 221px #fff, 1208px 1336px #fff, 1143px 504px #fff, 1866px 1519px #fff, 1559px 1695px #fff, 1064px 1644px #fff,
    988px 1151px #fff, 1838px 407px #fff, 859px 1061px #fff, 870px 714px #fff, 552px 60px #fff, 852px 1189px #fff,
    151px 1621px #fff, 33px 226px #fff, 855px 986px #fff, 1962px 1679px #fff, 1901px 658px #fff, 1448px 228px #fff,
    638px 778px #fff, 402px 92px #fff, 1225px 715px #fff, 1757px 1860px #fff, 429px 1830px #fff, 1927px 1156px #fff,
    300px 779px #fff, 1544px 363px #fff, 1529px 999px #fff, 1441px 1564px #fff, 1795px 262px #fff, 1292px 266px #fff,
    290px 1012px #fff, 413px 491px #fff, 680px 698px #fff, 1287px 1783px #fff, 182px 1662px #fff, 467px 874px #fff,
    1416px 218px #fff, 1587px 1039px #fff, 775px 619px #fff, 1519px 485px #fff, 1897px 588px #fff, 1167px 1416px #fff,
    18px 1359px #fff, 1720px 1996px #fff, 608px 612px #fff, 639px 965px #fff, 188px 939px #fff, 409px 1663px #fff,
    1448px 375px #fff, 746px 1685px #fff, 1116px 672px #fff, 365px 889px #fff, 922px 804px #fff, 453px 699px #fff,
    802px 419px #fff, 461px 275px #fff, 197px 1897px #fff, 1660px 668px #fff, 43px 1542px #fff, 331px 1414px #fff,
    715px 1094px #fff, 592px 1967px #fff, 206px 1634px #fff, 1753px 1098px #fff, 860px 479px #fff, 360px 1898px #fff,
    1275px 853px #fff, 990px 1834px #fff, 997px 1966px #fff, 591px 1832px #fff, 986px 71px #fff, 743px 1087px #fff,
    479px 1930px #fff, 93px 1235px #fff, 2000px 1250px #fff, 824px 190px #fff, 1798px 945px #fff, 352px 850px #fff,
    558px 1511px #fff, 1341px 1001px #fff, 1466px 419px #fff, 224px 1161px #fff, 1328px 1097px #fff, 1334px 369px #fff,
    667px 760px #fff, 1827px 1864px #fff, 1435px 614px #fff, 468px 1476px #fff, 965px 1813px #fff, 830px 143px #fff,
    612px 330px #fff, 1647px 814px #fff, 1772px 659px #fff, 1297px 1650px #fff, 737px 1626px #fff, 243px 147px #fff,
    40px 205px #fff, 1785px 1202px #fff, 682px 1313px #fff, 1142px 854px #fff, 1100px 343px #fff, 657px 155px #fff,
    786px 1982px #fff, 67px 580px #fff, 1272px 1604px #fff, 84px 839px #fff, 913px 915px #fff, 1841px 1805px #fff,
    1370px 598px #fff, 515px 1662px #fff, 253px 1739px #fff, 1573px 1907px #fff, 131px 616px #fff, 1957px 1269px #fff,
    110px 1390px #fff, 1275px 169px #fff, 1849px 459px #fff, 624px 148px #fff, 795px 1428px #fff, 1763px 1206px #fff,
    1760px 206px #fff, 1478px 854px #fff, 24px 1291px #fff, 104px 855px #fff, 502px 1348px #fff, 1250px 17px #fff,
    310px 412px #fff, 240px 545px #fff, 727px 215px #fff, 1350px 1128px #fff, 97px 773px #fff, 723px 1119px #fff,
    827px 492px #fff, 1090px 776px #fff, 56px 723px #fff, 317px 85px #fff, 398px 368px #fff, 1664px 661px #fff,
    1570px 1685px #fff, 1182px 1680px #fff, 623px 1261px #fff, 1520px 1339px #fff, 782px 934px #fff, 1714px 1038px #fff,
    1945px 666px #fff, 1708px 412px #fff, 1579px 420px #fff, 1926px 586px #fff, 953px 1988px #fff, 24px 1811px #fff,
    1152px 631px #fff, 756px 936px #fff, 369px 331px #fff, 549px 569px #fff, 534px 966px #fff, 190px 233px #fff,
    971px 1402px #fff, 1509px 552px #fff, 105px 28px #fff, 109px 502px #fff, 221px 181px #fff, 461px 464px #fff,
    1823px 1970px #fff, 1439px 1354px #fff, 1702px 1415px #fff, 1599px 1228px #fff, 794px 1693px #fff, 628px 817px #fff,
    626px 1866px #fff, 324px 1953px #fff, 386px 1984px #fff, 229px 561px #fff, 1456px 292px #fff, 1623px 1441px #fff,
    1266px 1815px #fff, 437px 885px #fff, 966px 1727px #fff, 419px 1260px #fff, 238px 323px #fff, 31px 313px #fff,
    444px 1627px #fff, 717px 1554px #fff, 1362px 1667px #fff, 1678px 609px #fff, 1826px 830px #fff, 309px 1531px #fff,
    600px 600px #fff, 1604px 1571px #fff, 481px 1703px #fff, 304px 1854px #fff, 1173px 1691px #fff, 1136px 1015px #fff,
    903px 1806px #fff, 1298px 351px #fff, 342px 1020px #fff, 321px 112px #fff, 363px 1264px #fff, 519px 643px #fff,
    1830px 750px #fff, 1739px 1910px #fff, 1160px 1262px #fff, 225px 642px #fff, 921px 1685px #fff, 1424px 207px #fff,
    477px 1722px #fff, 598px 1649px #fff, 1963px 934px #fff, 1409px 1540px #fff, 304px 314px #fff, 1515px 421px #fff,
    1209px 1011px #fff, 1252px 154px #fff, 996px 128px #fff, 1135px 821px #fff, 1967px 800px #fff, 707px 1216px #fff,
    1451px 1964px #fff, 620px 338px #fff, 711px 1340px #fff, 1254px 1949px #fff, 128px 1804px #fff, 1089px 1647px #fff,
    1709px 1725px #fff, 1487px 1255px #fff, 1479px 1491px #fff, 177px 862px #fff, 1398px 128px #fff, 1752px 1503px #fff,
    647px 1494px #fff, 1245px 58px #fff, 511px 84px #fff, 1028px 1317px #fff, 1150px 632px #fff, 749px 852px #fff,
    524px 986px #fff, 578px 1219px #fff, 1837px 1312px #fff, 726px 1398px #fff, 707px 1073px #fff, 697px 868px #fff,
    1835px 614px #fff, 848px 1123px #fff, 248px 713px #fff, 731px 866px #fff, 1354px 1501px #fff, 200px 1138px #fff,
    1045px 280px #fff, 111px 1948px #fff, 1957px 1496px #fff, 590px 947px #fff, 1410px 576px #fff, 1634px 1762px #fff,
    1358px 1133px #fff, 1808px 711px #fff, 618px 1059px #fff, 1202px 197px #fff, 1151px 741px #fff, 1926px 7px #fff,
    883px 1626px #fff, 1752px 350px #fff, 1072px 485px #fff, 666px 179px #fff, 626px 958px #fff, 991px 803px #fff,
    1137px 1596px #fff, 1001px 1290px #fff, 1801px 1308px #fff, 1320px 1503px #fff, 166px 958px #fff, 360px 618px #fff,
    740px 966px #fff, 767px 814px #fff, 749px 526px #fff, 1609px 1185px #fff, 350px 957px #fff, 725px 1684px #fff,
    398px 754px #fff, 390px 178px #fff, 150px 1035px #fff, 1325px 1139px #fff, 1270px 1074px #fff, 1104px 342px #fff,
    505px 1566px #fff, 1708px 912px #fff, 408px 965px #fff, 294px 1271px #fff, 493px 1235px #fff, 566px 825px #fff,
    647px 1100px #fff, 706px 529px #fff, 357px 1890px #fff, 1952px 1491px #fff, 1077px 654px #fff, 384px 1947px #fff,
    1923px 168px #fff, 845px 1648px #fff, 1803px 66px #fff, 307px 1541px #fff, 666px 39px #fff, 1589px 983px #fff,
    312px 1102px #fff, 1105px 579px #fff, 370px 1539px #fff, 1368px 241px #fff, 1759px 1832px #fff, 1073px 360px #fff,
    1344px 472px #fff, 1100px 1696px #fff, 1366px 1480px #fff, 1284px 446px #fff, 57px 1204px #fff, 710px 1788px #fff,
    1222px 1777px #fff, 571px 598px #fff, 584px 1545px #fff, 459px 1685px #fff, 1204px 587px #fff, 51px 1875px #fff,
    285px 1778px #fff, 655px 1678px #fff, 1267px 1175px #fff, 1195px 1389px #fff, 1463px 71px #fff, 1359px 175px #fff,
    1086px 169px #fff, 1335px 1357px #fff, 623px 1012px #fff, 1906px 1547px #fff, 141px 593px #fff, 218px 930px #fff,
    1390px 605px #fff, 772px 1312px #fff, 1345px 1450px #fff, 608px 1324px #fff, 1912px 1719px #fff, 466px 1698px #fff,
    1374px 1912px #fff, 457px 1988px #fff, 220px 438px #fff, 1559px 1073px #fff, 430px 1111px #fff, 365px 1596px #fff,
    922px 954px #fff, 1454px 1649px #fff, 1715px 292px #fff, 1323px 683px #fff, 914px 325px #fff, 920px 574px #fff,
    460px 1981px #fff, 985px 881px #fff, 1912px 105px #fff, 1568px 1002px #fff, 1834px 446px #fff, 313px 527px #fff,
    1670px 1506px #fff, 1105px 282px #fff, 937px 1933px #fff, 1792px 1872px #fff, 344px 529px #fff, 1304px 283px #fff,
    1391px 835px #fff, 768px 80px #fff, 732px 673px #fff, 1960px 1918px #fff, 401px 1922px #fff, 1155px 1123px #fff,
    956px 1022px #fff, 634px 1841px #fff, 180px 1716px #fff, 25px 1475px #fff, 533px 1772px #fff, 1762px 692px #fff,
    1206px 1359px #fff, 926px 1606px #fff, 644px 1382px #fff, 551px 1035px #fff, 1411px 1087px #fff, 706px 1062px #fff,
    1045px 838px #fff, 506px 1106px #fff, 192px 293px #fff, 1168px 804px #fff, 1001px 1404px #fff, 1128px 1611px #fff,
    128px 1475px #fff, 33px 13px #fff, 1331px 354px #fff, 1279px 1207px #fff, 1978px 479px #fff, 920px 711px #fff,
    1926px 1841px #fff, 926px 1101px #fff, 1990px 765px #fff, 1028px 1513px #fff, 445px 1644px #fff, 116px 1297px #fff,
    1819px 959px #fff, 1139px 1485px #fff, 1383px 1424px #fff, 26px 1955px #fff, 1914px 358px #fff, 1164px 513px #fff,
    1105px 109px #fff, 1143px 1463px #fff, 1228px 367px #fff, 555px 1910px #fff, 144px 1747px #fff, 1399px 577px #fff,
    383px 161px #fff, 440px 1652px #fff, 388px 806px #fff, 261px 557px #fff, 1555px 1250px #fff, 966px 332px #fff,
    1275px 827px #fff, 688px 682px #fff, 491px 1027px #fff, 1998px 51px #fff, 37px 1081px #fff, 1205px 1598px #fff,
    192px 443px #fff, 750px 426px #fff, 1496px 747px #fff, 1539px 1786px #fff, 1151px 1659px #fff, 1640px 1701px #fff,
    1132px 942px #fff, 173px 893px #fff, 1816px 1485px #fff, 1061px 1711px #fff, 1742px 963px #fff, 485px 1746px #fff,
    744px 916px #fff, 1096px 275px #fff, 1130px 705px #fff, 961px 118px #fff, 1672px 1340px #fff, 893px 282px #fff,
    1476px 1802px #fff, 638px 1938px #fff, 1814px 344px #fff, 288px 1726px #fff, 1535px 225px #fff, 1316px 511px #fff,
    581px 578px #fff, 821px 35px #fff, 1540px 19px #fff, 825px 447px #fff, 1123px 546px #fff, 409px 706px #fff,
    99px 660px #fff, 1715px 1953px #fff, 946px 1695px #fff, 1160px 1604px #fff, 181px 1786px #fff;
}

.stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 929px 486px #fff, 235px 814px #fff, 88px 1955px #fff, 1754px 611px #fff, 1349px 1231px #fff,
    1558px 1643px #fff, 905px 786px #fff, 1506px 496px #fff, 193px 131px #fff, 1081px 1413px #fff, 1084px 602px #fff,
    1893px 917px #fff, 875px 1907px #fff, 1377px 10px #fff, 145px 153px #fff, 1531px 487px #fff, 1430px 1932px #fff,
    153px 412px #fff, 609px 120px #fff, 1895px 1191px #fff, 1009px 938px #fff, 392px 964px #fff, 184px 204px #fff,
    1100px 391px #fff, 1050px 161px #fff, 889px 1903px #fff, 1232px 1552px #fff, 241px 1793px #fff, 759px 1184px #fff,
    65px 1114px #fff, 113px 683px #fff, 220px 1807px #fff, 669px 85px #fff, 729px 190px #fff, 936px 572px #fff,
    581px 741px #fff, 212px 77px #fff, 1906px 1px #fff, 352px 704px #fff, 162px 1575px #fff, 208px 808px #fff,
    997px 1366px #fff, 572px 1360px #fff, 113px 1822px #fff, 608px 333px #fff, 1521px 1198px #fff, 1587px 1276px #fff,
    1097px 21px #fff, 1113px 1070px #fff, 1690px 1073px #fff, 1254px 764px #fff, 383px 740px #fff, 1080px 293px #fff,
    1499px 844px #fff, 1197px 1106px #fff, 1101px 160px #fff, 1477px 164px #fff, 752px 824px #fff, 263px 208px #fff,
    1878px 919px #fff, 448px 122px #fff, 442px 1980px #fff, 1638px 927px #fff, 1666px 973px #fff, 533px 777px #fff,
    1321px 1126px #fff, 538px 1521px #fff, 214px 565px #fff, 1384px 1427px #fff, 3px 1304px #fff, 1387px 1794px #fff,
    1513px 1672px #fff, 1610px 6px #fff, 786px 369px #fff, 878px 1684px #fff, 148px 1368px #fff, 813px 1536px #fff,
    1195px 858px #fff, 1393px 1659px #fff, 1515px 86px #fff, 1243px 196px #fff, 202px 1489px #fff, 822px 43px #fff,
    917px 256px #fff, 1364px 1206px #fff, 1237px 432px #fff, 769px 460px #fff, 1057px 1330px #fff, 1643px 1394px #fff,
    469px 797px #fff, 372px 840px #fff, 1403px 1226px #fff, 1203px 1612px #fff, 1431px 953px #fff, 1701px 72px #fff,
    1530px 68px #fff, 865px 655px #fff, 502px 678px #fff, 572px 931px #fff, 636px 969px #fff, 527px 1060px #fff,
    765px 1566px #fff, 956px 1704px #fff, 1079px 1834px #fff, 1383px 467px #fff, 408px 1559px #fff, 52px 76px #fff,
    1391px 1708px #fff, 722px 510px #fff, 515px 903px #fff, 342px 1608px #fff, 979px 1346px #fff, 1921px 1771px #fff,
    260px 170px #fff, 564px 1135px #fff, 663px 1494px #fff, 1569px 1945px #fff, 19px 1192px #fff, 1797px 1676px #fff,
    68px 1185px #fff, 1746px 1174px #fff, 1619px 973px #fff, 1880px 1931px #fff, 1827px 378px #fff, 83px 1821px #fff,
    1741px 192px #fff, 370px 235px #fff, 775px 383px #fff, 1531px 190px #fff, 1254px 810px #fff, 1864px 1873px #fff,
    1019px 1852px #fff, 1263px 60px #fff, 263px 448px #fff, 546px 1980px #fff, 1325px 1384px #fff, 1637px 75px #fff,
    648px 111px #fff, 1000px 1868px #fff, 110px 1294px #fff, 534px 1678px #fff, 891px 1818px #fff, 694px 1779px #fff,
    479px 946px #fff, 1358px 254px #fff, 1984px 604px #fff, 826px 1549px #fff, 1936px 1527px #fff, 623px 1082px #fff,
    429px 924px #fff, 1197px 1395px #fff, 630px 782px #fff, 1545px 1350px #fff, 1962px 928px #fff, 1245px 1463px #fff,
    1096px 1549px #fff, 441px 1785px #fff, 1070px 634px #fff, 1119px 466px #fff, 1027px 1951px #fff, 650px 819px #fff,
    1919px 221px #fff, 1170px 1827px #fff, 990px 449px #fff, 1410px 1389px #fff, 568px 988px #fff, 1199px 1392px #fff,
    1400px 1754px #fff, 528px 899px #fff, 1942px 1636px #fff, 959px 311px #fff, 934px 1574px #fff, 1943px 1203px #fff,
    193px 1235px #fff, 602px 500px #fff, 134px 131px #fff, 371px 222px #fff, 1870px 1373px #fff, 372px 1046px #fff,
    175px 881px #fff, 309px 223px #fff, 1349px 1055px #fff, 896px 1853px #fff, 317px 676px #fff, 1345px 262px #fff,
    496px 1330px #fff, 895px 1498px #fff, 277px 439px #fff, 1932px 984px #fff, 1464px 802px #fff, 1371px 1508px #fff,
    855px 1823px #fff, 1991px 297px #fff, 753px 414px #fff, 806px 1124px #fff, 547px 1896px #fff, 1566px 791px #fff,
    1102px 774px #fff, 1299px 86px #fff, 612px 1657px #fff;
  animation: animStar 100s linear infinite;
}
.stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 929px 486px #fff, 235px 814px #fff, 88px 1955px #fff, 1754px 611px #fff, 1349px 1231px #fff,
    1558px 1643px #fff, 905px 786px #fff, 1506px 496px #fff, 193px 131px #fff, 1081px 1413px #fff, 1084px 602px #fff,
    1893px 917px #fff, 875px 1907px #fff, 1377px 10px #fff, 145px 153px #fff, 1531px 487px #fff, 1430px 1932px #fff,
    153px 412px #fff, 609px 120px #fff, 1895px 1191px #fff, 1009px 938px #fff, 392px 964px #fff, 184px 204px #fff,
    1100px 391px #fff, 1050px 161px #fff, 889px 1903px #fff, 1232px 1552px #fff, 241px 1793px #fff, 759px 1184px #fff,
    65px 1114px #fff, 113px 683px #fff, 220px 1807px #fff, 669px 85px #fff, 729px 190px #fff, 936px 572px #fff,
    581px 741px #fff, 212px 77px #fff, 1906px 1px #fff, 352px 704px #fff, 162px 1575px #fff, 208px 808px #fff,
    997px 1366px #fff, 572px 1360px #fff, 113px 1822px #fff, 608px 333px #fff, 1521px 1198px #fff, 1587px 1276px #fff,
    1097px 21px #fff, 1113px 1070px #fff, 1690px 1073px #fff, 1254px 764px #fff, 383px 740px #fff, 1080px 293px #fff,
    1499px 844px #fff, 1197px 1106px #fff, 1101px 160px #fff, 1477px 164px #fff, 752px 824px #fff, 263px 208px #fff,
    1878px 919px #fff, 448px 122px #fff, 442px 1980px #fff, 1638px 927px #fff, 1666px 973px #fff, 533px 777px #fff,
    1321px 1126px #fff, 538px 1521px #fff, 214px 565px #fff, 1384px 1427px #fff, 3px 1304px #fff, 1387px 1794px #fff,
    1513px 1672px #fff, 1610px 6px #fff, 786px 369px #fff, 878px 1684px #fff, 148px 1368px #fff, 813px 1536px #fff,
    1195px 858px #fff, 1393px 1659px #fff, 1515px 86px #fff, 1243px 196px #fff, 202px 1489px #fff, 822px 43px #fff,
    917px 256px #fff, 1364px 1206px #fff, 1237px 432px #fff, 769px 460px #fff, 1057px 1330px #fff, 1643px 1394px #fff,
    469px 797px #fff, 372px 840px #fff, 1403px 1226px #fff, 1203px 1612px #fff, 1431px 953px #fff, 1701px 72px #fff,
    1530px 68px #fff, 865px 655px #fff, 502px 678px #fff, 572px 931px #fff, 636px 969px #fff, 527px 1060px #fff,
    765px 1566px #fff, 956px 1704px #fff, 1079px 1834px #fff, 1383px 467px #fff, 408px 1559px #fff, 52px 76px #fff,
    1391px 1708px #fff, 722px 510px #fff, 515px 903px #fff, 342px 1608px #fff, 979px 1346px #fff, 1921px 1771px #fff,
    260px 170px #fff, 564px 1135px #fff, 663px 1494px #fff, 1569px 1945px #fff, 19px 1192px #fff, 1797px 1676px #fff,
    68px 1185px #fff, 1746px 1174px #fff, 1619px 973px #fff, 1880px 1931px #fff, 1827px 378px #fff, 83px 1821px #fff,
    1741px 192px #fff, 370px 235px #fff, 775px 383px #fff, 1531px 190px #fff, 1254px 810px #fff, 1864px 1873px #fff,
    1019px 1852px #fff, 1263px 60px #fff, 263px 448px #fff, 546px 1980px #fff, 1325px 1384px #fff, 1637px 75px #fff,
    648px 111px #fff, 1000px 1868px #fff, 110px 1294px #fff, 534px 1678px #fff, 891px 1818px #fff, 694px 1779px #fff,
    479px 946px #fff, 1358px 254px #fff, 1984px 604px #fff, 826px 1549px #fff, 1936px 1527px #fff, 623px 1082px #fff,
    429px 924px #fff, 1197px 1395px #fff, 630px 782px #fff, 1545px 1350px #fff, 1962px 928px #fff, 1245px 1463px #fff,
    1096px 1549px #fff, 441px 1785px #fff, 1070px 634px #fff, 1119px 466px #fff, 1027px 1951px #fff, 650px 819px #fff,
    1919px 221px #fff, 1170px 1827px #fff, 990px 449px #fff, 1410px 1389px #fff, 568px 988px #fff, 1199px 1392px #fff,
    1400px 1754px #fff, 528px 899px #fff, 1942px 1636px #fff, 959px 311px #fff, 934px 1574px #fff, 1943px 1203px #fff,
    193px 1235px #fff, 602px 500px #fff, 134px 131px #fff, 371px 222px #fff, 1870px 1373px #fff, 372px 1046px #fff,
    175px 881px #fff, 309px 223px #fff, 1349px 1055px #fff, 896px 1853px #fff, 317px 676px #fff, 1345px 262px #fff,
    496px 1330px #fff, 895px 1498px #fff, 277px 439px #fff, 1932px 984px #fff, 1464px 802px #fff, 1371px 1508px #fff,
    855px 1823px #fff, 1991px 297px #fff, 753px 414px #fff, 806px 1124px #fff, 547px 1896px #fff, 1566px 791px #fff,
    1102px 774px #fff, 1299px 86px #fff, 612px 1657px #fff;
}

.stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1570px 1016px #fff, 1223px 922px #fff, 600px 1521px #fff, 228px 762px #fff, 1119px 1101px #fff,
    1887px 165px #fff, 431px 1145px #fff, 575px 949px #fff, 1369px 112px #fff, 1732px 837px #fff, 1083px 1997px #fff,
    1984px 1343px #fff, 317px 868px #fff, 1822px 729px #fff, 1878px 1676px #fff, 973px 1880px #fff, 1964px 1522px #fff,
    1530px 417px #fff, 1813px 951px #fff, 1062px 1382px #fff, 87px 1638px #fff, 75px 1157px #fff, 1374px 676px #fff,
    1225px 422px #fff, 502px 489px #fff, 1145px 1083px #fff, 1592px 579px #fff, 1553px 885px #fff, 1946px 103px #fff,
    1925px 544px #fff, 1740px 144px #fff, 730px 1059px #fff, 1942px 1002px #fff, 537px 745px #fff, 1305px 2000px #fff,
    1823px 1162px #fff, 465px 1056px #fff, 849px 332px #fff, 780px 1894px #fff, 1183px 728px #fff, 1719px 991px #fff,
    1067px 1545px #fff, 460px 1443px #fff, 1326px 1361px #fff, 52px 1713px #fff, 243px 1415px #fff, 1130px 1620px #fff,
    1842px 771px #fff, 1669px 1709px #fff, 61px 1661px #fff, 1118px 840px #fff, 1556px 299px #fff, 404px 592px #fff,
    305px 131px #fff, 1871px 501px #fff, 1666px 1357px #fff, 877px 1482px #fff, 160px 934px #fff, 1040px 1076px #fff,
    1305px 980px #fff, 854px 124px #fff, 103px 298px #fff, 1013px 674px #fff, 653px 1589px #fff, 61px 776px #fff,
    1844px 559px #fff, 779px 1797px #fff, 706px 315px #fff, 1822px 660px #fff, 1030px 782px #fff, 1136px 1694px #fff,
    204px 948px #fff, 1604px 378px #fff, 888px 969px #fff, 1128px 288px #fff, 492px 1832px #fff, 1835px 663px #fff,
    812px 273px #fff, 387px 1096px #fff, 1209px 1096px #fff, 730px 1675px #fff, 797px 1181px #fff, 1374px 986px #fff,
    48px 766px #fff, 1165px 834px #fff, 161px 689px #fff, 276px 1437px #fff, 101px 1772px #fff, 1827px 1244px #fff,
    20px 263px #fff, 1552px 1201px #fff, 1180px 362px #fff, 338px 863px #fff, 1736px 1578px #fff, 1265px 635px #fff,
    1957px 1px #fff, 1434px 820px #fff, 650px 556px #fff, 98px 751px #fff, 725px 157px #fff;
  animation: animStar 150s linear infinite;
}
.stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1570px 1016px #fff, 1223px 922px #fff, 600px 1521px #fff, 228px 762px #fff, 1119px 1101px #fff,
    1887px 165px #fff, 431px 1145px #fff, 575px 949px #fff, 1369px 112px #fff, 1732px 837px #fff, 1083px 1997px #fff,
    1984px 1343px #fff, 317px 868px #fff, 1822px 729px #fff, 1878px 1676px #fff, 973px 1880px #fff, 1964px 1522px #fff,
    1530px 417px #fff, 1813px 951px #fff, 1062px 1382px #fff, 87px 1638px #fff, 75px 1157px #fff, 1374px 676px #fff,
    1225px 422px #fff, 502px 489px #fff, 1145px 1083px #fff, 1592px 579px #fff, 1553px 885px #fff, 1946px 103px #fff,
    1925px 544px #fff, 1740px 144px #fff, 730px 1059px #fff, 1942px 1002px #fff, 537px 745px #fff, 1305px 2000px #fff,
    1823px 1162px #fff, 465px 1056px #fff, 849px 332px #fff, 780px 1894px #fff, 1183px 728px #fff, 1719px 991px #fff,
    1067px 1545px #fff, 460px 1443px #fff, 1326px 1361px #fff, 52px 1713px #fff, 243px 1415px #fff, 1130px 1620px #fff,
    1842px 771px #fff, 1669px 1709px #fff, 61px 1661px #fff, 1118px 840px #fff, 1556px 299px #fff, 404px 592px #fff,
    305px 131px #fff, 1871px 501px #fff, 1666px 1357px #fff, 877px 1482px #fff, 160px 934px #fff, 1040px 1076px #fff,
    1305px 980px #fff, 854px 124px #fff, 103px 298px #fff, 1013px 674px #fff, 653px 1589px #fff, 61px 776px #fff,
    1844px 559px #fff, 779px 1797px #fff, 706px 315px #fff, 1822px 660px #fff, 1030px 782px #fff, 1136px 1694px #fff,
    204px 948px #fff, 1604px 378px #fff, 888px 969px #fff, 1128px 288px #fff, 492px 1832px #fff, 1835px 663px #fff,
    812px 273px #fff, 387px 1096px #fff, 1209px 1096px #fff, 730px 1675px #fff, 797px 1181px #fff, 1374px 986px #fff,
    48px 766px #fff, 1165px 834px #fff, 161px 689px #fff, 276px 1437px #fff, 101px 1772px #fff, 1827px 1244px #fff,
    20px 263px #fff, 1552px 1201px #fff, 1180px 362px #fff, 338px 863px #fff, 1736px 1578px #fff, 1265px 635px #fff,
    1957px 1px #fff, 1434px 820px #fff, 650px 556px #fff, 98px 751px #fff, 725px 157px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* About Section */

#about {
  padding: 1rem;
  margin: 10px;
 
  line-height: 1.5;
}

#image-column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circular-image {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #222;
}

.circular-image img {
  width: auto;
  height: 100%;
  margin-left: -15px;
}

.grow2 {
  transition: all 0.2s ease-in-out;
}

.grow2:hover {
  transform: scale(1.02);
  box-shadow: 1px 1px 1px 5px #d3d3d3;
}

#summary-row {
  margin-bottom: 1rem;
  max-width: 70vw;

}

/* Skill Icons */

.skill-icon {
  text-align: center;
  margin-bottom: 1rem;
}

.skill-icon svg {
  width: 75px;
  height: 75px;
}

.rock:hover {
  -webkit-animation: rocking-animation 5s infinite; /* Safari 4+ */
  -moz-animation: rocking-animation 5s infinite; /* Fx 5+ */
  -o-animation: rocking-animation 5s infinite; /* Opera 12+ */
  animation: rocking-animation 5s infinite; /* IE 10+, Fx 29+ */
}

@keyframes rocking-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.skill-icon h6 {
  font-weight: bold;
  font-size: 1em;
}

#js-icon {
  border-radius: 20%;
}

/* Portfolio Secion */

.project-navbar{
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.hvr-float {

  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
}

#portfolio-section {
  margin: 10px;
  margin-bottom: 2rem;
}

#project-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  margin-bottom: 3rem;
  max-width: 70%;
}

.card:hover {
  box-shadow: 1px 1px 1px 5px white;
}

.card .card-reveal {
  opacity: 0.8;
  background: #111;
}
.card .card-reveal :not(.btn) {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#and-more-github {
  float: right;
}

/* Footer */
footer {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  width: 100vw;
  
}
.page-footer {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  /* padding-bottom: 1rem; */
}

#icon-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer-row {
  margin: 0;
  margin-left: 20%;
}

/* Project Pages */

.portfolio-project-page{
  margin-bottom: 6rem;
}

.project-hero-image {
  width: 600px;
  height: 400px;
  margin-top: 1rem;
}

.project-hero-image img {
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  margin-top: 2rem;
}

#tech-used {
  float: right;
}

img.responsive-img {
  margin-top: 1rem;
}

#supporting-images-row {
  display: flex;
  justify-content: space-around;
}

#supp-img-1 {
  margin-left: 0;
}

.project-supporting-image img {
  margin: 1rem;
  border: 1px solid black;
  width: 500px;
  height: 200px;
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}



/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
  75% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }
  75% {
    -webkit-transform: scale(0.99);
    transform: scale(0.99);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}